@page "/Customer_Edit/{Id:int}"
<h3>Customer_Edit</h3>

<EditForm Model="@customerVM" OnValidSubmit="Edit" class="card card-body bg-light">
    <div class="mb-3 col-xl-5">
        <input type="hidden" value="@customerVM.Id" />
        <InputText id="@nameof(customerVM.FirstName)" @bind-Value="customerVM.FirstName" class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
        <InputText id="@nameof(customerVM.LastName)" @bind-Value="customerVM.LastName" class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
        <InputText id="@nameof(customerVM.Mobile)" @bind-Value="customerVM.Mobile" class="form-control" />
    </div>
    <div class="mb-3 col-xl-5">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</EditForm>




